<!DOCTYPE html>
<html>
<head>
    <title>Code Splitting!</title>
    
    <!-- https://codepureandsimple.com/polyfilling-internet-explorer-11-a715c5b3c72 -->
    <!-- This corrected Promise not defined in IE 11 -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
</head>

<body> 

    <script src="~/dist/main.js"></script>

</body>
</html>