<!DOCTYPE html>
<html>
<head>
    <title>Webpack Simple</title>
</head>

<body> 

    <p id="skippy"></p>

    <script src="~/dist/vendor.js"></script>

    <script src="~/dist/main.js"></script>

</body>
</html>