<!DOCTYPE html>
<html>
<head>
    <title>Webpack Simple</title>
</head>

<body> 

    <h1>Red! I'm Seeing Red!</h1>

    <p id="one"></p>

    <p id="two"></p>

    <p id="three"></p>

    <script src="~/dist/main.js"></script>

</body>
</html>